@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "~normalize.css";

//connect styles
@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";


//styles for element selectors
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}

// something from BEM
// base class
.excel{
  position: relative;
  color: #636363;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}
