@import "variables";
@import "mixins";

.excel__toolbar{
  background: rgba(6, 184, 6, 0.29);
  position: absolute;
  left: 0;
  right: 0;
  top: $header-height; //top start under header bar
  height: $toolbar-height;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
  padding: 7px 10px;
  display: flex; //horisontal
  .button{
    @include button(#33a503);
    }
  }
